.App {
  text-align: center;
}

body {
  background-color: #3A3838;
}

.RecommendationForm{
  background-color: black;
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  padding-left: 80px;
  margin-top: 0px;

}
.RecomHeader{
  background-color: black;
  color: white;
  width: 100%;
  font-size: 40px;
  height: 50px;
  padding-top: 30px;
  padding-left: 80px;
  margin-bottom: 0px;
}
.RecommendationForm input[type=text]{
  background-color: #D9D9D9;
  width: 90%;
  height: 40px;
  border-style: dotted;
}

.RecommendationForm button{
  background-color: #5E81FF;
  width: 120px;
  height: 35px;
  font-size: 20px;
  color: white;
  margin-left: 100px;
  margin-top: 40px;
}

label {
  color: white;
  font-size: 17px;
}

.movie-card {
  width: 500px;
  margin-top: 60px;
}
.movie-title {
  color: white;
  font-size: 30px;
  padding-left: 40px;
}
.movie-image{
  padding-left: 40px;
}
.movie-description{
  padding-left: 40px;
  color: white;

}
.add-button{
  margin-left: 100px;
  width: 150px;
  height: 40px;
  background-color: white;
  align-items: center;
  align-content: center;
  font-style:oblique;
  border-width: 3px;

}
.HomeHeader {
  padding-left: 40px;
  color: white;
  font-size: 50px;
}
.NavBar {
  width: 100%;
  height: 120px;
  font-size: 30px;
  display: inline-flex;
  justify-content: space-around;
  background-color: black;
}
.NavBarHead{
  color: white;
}

.LoginForm{
  background-color: black;
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  padding-left: 80px;
  margin-top: 0px;
}
.LoginForm input[type=text]{
  background-color: #D9D9D9;
  width: 80%;
  height: 40px;
  border-style: dotted;
}
.LoginForm input[type=password]{
  background-color: #D9D9D9;
  width: 80%;
  height: 40px;
  border-style: dotted;
}

.LoginForm button{
  background-color: #5E81FF;
  width: 170px;
  height: 45px;
  font-size: 30px;
  color: white;
  margin-left: 100px;
  margin-top: 40px;
}
.LoginHeader {
  font-size: 40px;
  color: white;
  padding-left: 100px;
}

.LoginForm label {
  font-size: 25px;
}
.RecomPageHead{
  font-size: 52px;
  color: white;
  padding-left: 80px;
}

.RecomCard{
  margin-left: 60px;
  margin-top: 60px;
}
.RecoMoviePos{
  padding-left: 20px;

}
.RecoMovieName{
  padding-left: 20px;
  color: white;
}

.RecoMovieDescr{
  padding-left: 20px;
  color: white;
}